<div class="container">
    <div class="picture">
    </div>
    <div class="register"> 
        <h1>Bem-vindo ao Nutri</h1>
        <h6 class="name">Nome</h6>
        <div class="fill">
            <input type="text" placeholder="Nome"/>
        </div>
        <h6 class="email">Email</h6>
        <div class="fill">
            <input type="email" placeholder="Email"/>
            <img src="../assets/icons/email.svg" alt="email-icon" class="email-icon">
        </div>
        <h6 class="password">Password</h6>
        <div class="fill">            
            <input type="password" placeholder="Senha"/>
            <img src="../assets/icons/hidden.svg" alt="hidden" class="hidden">
        </div>
        <h6 class="password2">Confirmar senha</h6>
        <div class="fill">           
            <input type="password" placeholder="Confirme sua senha"/>
            <img src="../assets/icons/hidden.svg" alt="hidden" class="hidden">
        </div>
        <button type="submit" class="button">Criar conta</button>
        <div class="account">
            <h6 class="label-account">Já tem uma conta?</h6>
            <a routerLink="">Log in</a>
        </div>
    </div>
</div>
